* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
h1, h2, h3, p, span, input, textarea, button, code, label {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Helvetica', 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
a {
  text-decoration: none;
}
code, .monospace {
  font-family: 'Roboto Mono', 'Consolas', 'Monaco', monospace;
}
code {
  font-size: 0.75rem;
  background: #FFC2B8;
  color: #000;
}
p {
  line-height: 1.4rem;
}
button {
  touch-action: manipulation;
}
button, input, textarea {
  outline: none;
}
code {
  border-radius: 3px;
  padding: 0.25rem;
}

body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: white;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 4rem;
  padding: 0 1.2rem;
  display: grid;
  grid-template-rows: 4rem;
  grid-template-columns: 1fr 1fr;
  background: rgb(255, 255, 255, 0.7);
  backdrop-filter: blur(6px);
}
#header > div, #composer .row .label {
  display: flex;
  align-items: center;
}
#header .left h1 {
  display: inline;
  font-size: 1.5rem;
  font-weight: 400;
  color: #001949;
  user-select: none;
  pointer-events: none;
}
#header .left h1 img {
  vertical-align: middle;
  display: inline;
  height: 1.5rem;
  margin-right: 0.5rem;
}
#header .right {
  justify-content: flex-end;
}
#reset {
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms linear;
  color: #5567C9;
}
#reset.visible {
  pointer-events: all;
  cursor: pointer;
  opacity: 1;
}

#app {
  max-width: 768px;
  width: calc(100% - 2.4rem);
  margin: 4rem 1.2rem;
}
.intro {
  text-align: center;
  margin-bottom: 2.5rem;
}
#composer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-row-gap: 1.5rem;
  justify-content: space-between;
}
#composer .row {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 6rem 1fr;
}
#composer .row input {
  width: 100%;
  margin: 0;
  padding: 1rem;
}
input, textarea {
  background: #F4F4F4;
  border-radius: 8px;
  border: none;
}
textarea {
  padding: 1rem;
  resize: none;
}
#field-body {
  width: 100%;
  height: 12rem;
}
#charcount {
  text-align: right;
  font-style: italic;
  font-size: 0.75rem;
}
div.buttons {
  margin-top: 2rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 15rem 15rem;
  justify-content: space-around;
}
div.buttons button {
  border: none;
  border-radius: 99rem;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 1rem 0;
  cursor: pointer;
  transition: box-shadow 250ms ease, filter 150ms linear;
}
#submit {
  background: #8D9AC5;
}
#shorten {
  background: #E17A8D;
}
div.buttons button:hover {
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.40);
}
div.buttons button:active {
  filter: brightness(0.8);
}
div.buttons button.disabled {
  filter: saturate(0);
  pointer-events: none;
}
#success {
  text-align: center;
  margin: 2rem 0 1.5rem;
  display: none;
}
#success.visible {
  display: block;
}
#result {
  width: 100%;
  height: 9rem;
  margin-top: 2rem;
  background: #001949;
  color: #FFC2B8;
  cursor: default;
}
hr {
  margin: 4rem 0 2rem;
}
div.details {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-row-gap: 0.75rem;
  justify-content: space-between;
}

.footer {
  margin-top: 6rem;
  text-align: center;
}
.footer p {
  font-size: 0.75rem;
}
.footer img {
  width: 100px;
}
.footer .red {
  color: #FF4747;
}

@media screen and (max-width: 480px) {
  #composer .row {
    grid-template-rows: 2rem 1fr;
    grid-template-columns: 1fr;
  }
  #composer .row .label {
    align-items: flex-start;
  }
  div.buttons {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
    justify-content: space-between;
  }
}
